<!DOCTYPE html>


<html>
    <head>
        <title>Forms 1-qism</title>
    </head>
    <body>
        <form>
            <label for="username">Username</label>
            <input type="text" name="username" id="username"><br><br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password"> <br> <br>
            <label for="email">Emailingiz</label>
            <input type="email" name="email" id="email"><br><br>
            <label for="sana">Tug'ulgan sana</label>
            <input type="date" name="date" id="sana"><br><br>
            <button type="submit">Login</button>
        </form>
    </body>
</html>